<div class="row">
<div class="jumbotron">
<div class="row">			
	<div class="col-lg-5">
		<div class="input-group">
			<input type="text" class="form-control" name="p" ng-model="p" placeholder="Pesquisar contatos">
			<span class="input-group-btn">							
				<button type="submit" class="btn btn-default" ng-click="getByTerm(p);" >Pesquisar</button>
			</span>
	    </div>
    </div>
	<div class="col-lg-2">

        <select class="form-control" ng-model="fillop" id="filters" ng-options="option.optionName as option.optionName for option in optionVarious">
            <option value="" >Selecione o filtro</option>            
        </select>
	</div>

    <div class="col-lg-2">
        <select class="form-control" ng-model="filltip" id="type" ng-options="type.nameType as type.nameType for type in types ">
            <option value="">Selecione o tipo do item</option>
        </select>
        
    </div>

    <div class="col-lg-2">
        <a href="" ng-click="resetFilter();">Limpar Filtros</a>

    </div>
    

    <div class="col-lg-1">
        
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" id="newItem" ng-click="cleanItem(); desactOrder();" data-target="#modalItem">Novo Item</button>
    </div>

</div>
		</br>
		<table ng-show="collections.length > 0" class="table table-striped">
			<tr>
								
				<th><a href="" ng-click="orderCol('name')">Nome</a></th>
				<th><a href="" ng-click="orderCol('type')">Tipo</a></th>
				<th><a href="" ng-click="orderCol('author')">Autor</a></th>
                <th><a href="" ng-click="orderCol('location')">Local</a></th>
                <th><a href="" ng-click="orderCol('status')">Status</a></th>
                <th>Ação</th>
                <th></th>
                <th></th>
				
			</tr>
            <tr ng-class="" ng-repeat="item in collections |  orderBy:order:directOrder | filter: fillop | filter:filltip">
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.author}}</td>
                <td>{{item.location}}</td>
                <td>{{item.status}}</td>

                <td>

                    <button type="button" class="btn btn-success" data-toggle="modal" ng-show="item.idContact == 0" ng-click="getByContact(); vObjectItem(item)" data-target="#modalLoan">Emprestar</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" ng-show="item.idContact != 0" ng-click="getContactId(item.idContact)" data-target="#modalDetail">Contato</button>
                    
                </td>

                <td>
                    <button type="button" class="btn btn-warning" data-toggle="modal" id="edit" ng-click="vObjectItem(item)" data-target="#modalItem">Editar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" ng-click="vObjectItem(item)" data-target="#modalCancelItem">Excluir</button>
                </td>

            </tr>
		</table>
		<hr/>
		
	</div>
</div>
<div ng-include="'view/modalregitem.html'"></div>
<div ng-include="'view/modalregloan.html'"></div>
<div ng-include="'view/modalcancelitem.html'"></div>
<div ng-include="'view/modalcontactdetail.html'"></div>