<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="label">Detalhes do Contato</h4>
            </div>
            <div class="modal-body">
                
                    <label for="name" class="control-label">Nome: </label>
                        <span id="name">{{collections.contact.name}}</span><br />
                    <label for="email" class="control-label">E-mail: </label>
                        <span id="email">{{collections.contact.email}}</span><br />
                    <label for="phone" class="control-label">Telefone: </label>
                        <span id="phone">{{collections.contact.phone}}</span>

               

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="saveItem" data-dismiss="modal">Sair</button>
                
            </div>
        </div>
    </div>
</div>
</div>