<div class="modal fade" id="modalLoan" tabindex="-1" role="dialog" aria-labelledby="label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="label">Emprestar item</h4>
      </div>
      <div class="modal-body">
          <form id="registerLoan">
              <div class="form-group">
                  <select class="form-control" data-ng-model="collections.item.idcontact" data-ng-options="contact.id as contact.name for contact in collections.contacts" id="contact">
                      <option value="">Selecione o contato</option>

                  </select>
              </div>
              <div class="form-group">
                  <select class="form-control" data-ng-model="collections.item.status" id="status" data-ng-options="option.optionName as option.optionName for option in collections.optionLoan">
                      <option value="">Selecione o status</option>

                  </select>
              </div>
          </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="saveItem" data-dismiss="modal">Sair</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"  data-ng-click="collections.edit(collections.item);">Emprestar Item</button>
      </div>
    </div>
  </div>
</div>